<h2 mat-dialog-title>Create new Post</h2>
<mat-dialog-content>
  <form [formGroup]="createPostForm.postForm" (ngSubmit)="createPost()">
    <mat-form-field color="primary">
      <mat-label>Post title</mat-label>
      <input matInput
             [formControl]="createPostForm.postForm.controls.postTitle"
             (blur)="createPostForm.updatePostTitleErrorMessage()"
      >
      @if (createPostForm.postForm.controls.postTitle.invalid) {
        <mat-error>{{ createPostForm.postTitleErrorMessage }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Post content</mat-label>
      <textarea matInput
                rows="14"
                [formControl]="createPostForm.postForm.controls.content"
                (blur)="createPostForm.updateContentErrorMessage()">
      </textarea>
      @if (createPostForm.postForm.controls.content.invalid) {
        <mat-error>{{ createPostForm.contentErrorMessage }}</mat-error>
      }
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="createPost()"
    [disabled]="createPostForm.postForm.invalid"
  >
    Create Post
  </button>
</mat-dialog-actions>
