.container {
  display: flex;
  flex-direction: column;
}

.blogHeader {
  background: #564080;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.blogName {
  margin-top: 10px;
}

.header-align {
  justify-content: center;
}

.settings-style {
  padding: 20px;
}

.settings-align {
  justify-content: flex-end;
}

.headerItem {
  display: flex;
  width: 30%;
}
