<div class="form-container">
  <mat-card class="form-children">
    <mat-card-header>
      Login
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginFormGroup" (ngSubmit)="login(username.value, password.value)">
        <mat-form-field color="primary">
          <mat-label>Username</mat-label>
          <input matInput
                 [formControl]="loginFormGroup.controls.username"
                 (blur)="updateUsernameErrorMessage()"
                 required
                 #username
          >
          @if (!loginFormGroup.controls.username.valid) {
            <mat-error>{{usernameErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Password</mat-label>
          <input matInput
                 [formControl]="loginFormGroup.controls.password"
                 [type]="hide ? 'password' : 'text'"
                 (blur)="updatePasswordErrorMessage()"
                 required
                 #password
          >
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (!loginFormGroup.controls.password.valid) {
            <mat-error>{{passwordErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <button
          class="login-register-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginFormGroup.valid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="form-children"><a routerLink="/register">Register</a> a new account.</div>
</div>
