<div class="form-container">
<!--  <div class="flex-top-spacer"></div>-->
  <mat-card class="form-children">
    <mat-card-header>
      Login
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="login(username.value, password.value)">
        <mat-form-field color="primary">
          <mat-label>Username</mat-label>
          <input matInput
                 [formControl]="usernameFormControl"
                 (blur)="updateUsernameErrorMessage()"
                 required
                 #username
          >
          @if (usernameFormControl.invalid) {
            <mat-error>{{usernameErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Password</mat-label>
          <input matInput
                 [formControl]="passwordFormControl"
                 [type]="hide ? 'password' : 'text'"
                 (blur)="updatePasswordErrorMessage()"
                 required
                 #password
          >
          @if (passwordFormControl.invalid) {
            <mat-error>{{passwordErrorMessage}}</mat-error>
          }
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button
          class="login-register-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!usernameFormControl.valid || !passwordFormControl.valid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="form-children"><a routerLink="/register">Register</a> a new account.</div>
<!--  <div class="flex-bottom-spacer"></div>-->
</div>
