.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #2b2d30;
}

.headerContainer {
  width: 30%;

  display: flex;
}

.title-align {
  justify-content: center;
}

.title-style {
  font-size: 1.3rem;
  font-weight: bold;
}

.button-align {
  justify-content: flex-end;
}

.logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  .login {
    margin-right: 15px;
  }
}

