<h2 mat-dialog-title>Change password</h2>
<mat-dialog-content>
  <form>
    <mat-form-field color="primary">
      <mat-label>Current password</mat-label>
      <input matInput
             [formControl]="changePasswordFormGroup.controls.oldPassword"
             [type]="hideOld ? 'password' : 'text'"
             (blur)="updateOldPasswordErrorMessage(false)"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hideOld = !hideOld"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOld"
        type="button"
      >
        <mat-icon>{{ hideOld ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (!changePasswordFormGroup.controls.oldPassword.valid) {
        <mat-error>{{ oldPasswordErrorMessage }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>New password</mat-label>
      <input matInput
             [formControl]="changePasswordFormGroup.controls.newPassword"
             [type]="hideNew ? 'password' : 'text'"
             (blur)="updateNewPasswordErrorMessage()"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hideNew = !hideNew"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNew"
        type="button"
      >
        <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (!changePasswordFormGroup.controls.newPassword.valid) {
        <mat-error>{{ newPasswordErrorMessage }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Confirm new password</mat-label>
      <input matInput
             [formControl]="changePasswordFormGroup.controls.newPasswordConfirm"
             [type]="hideNewConfirm ? 'password' : 'text'"
             (blur)="updateNewPasswordErrorMessage()"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hideNewConfirm = !hideNewConfirm"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNewConfirm"
        type="button"
      >
        <mat-icon>{{ hideNewConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (!changePasswordFormGroup.controls.newPasswordConfirm.valid) {
        <mat-error>{{ newPasswordConfirmErrorMessage }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="changePassword()"
    [disabled]="changePasswordFormGroup.invalid"
  >
    Submit
  </button>
</mat-dialog-actions>
