/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: #1e1f22;
  color: lightgray;
}

app-root {
  height: 100%;
  display: block;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-register-button {
  width: 120px;
  align-self: end;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #8e52ff;
}

.create-button {
  width: 160px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
