<div class="form-container">
  <mat-card class="form-children">
    <mat-card-header>
      Register
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm.userForm" (ngSubmit)="register(fullName.value, username.value, mailAddress.value, password.value)">
        <mat-form-field color="primary">
          <mat-label>Full name</mat-label>
          <input matInput
                 #fullName
          >
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Username</mat-label>
          <input matInput
                 [formControl]="registerForm.userForm.controls.username"
                 (blur)="registerForm.updateUsernameErrorMessage()"
                 #username
          >
          @if (registerForm.userForm.controls.username.invalid) {
            <mat-error>{{registerForm.usernameErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>E-Mail</mat-label>
          <input matInput
                 [formControl]="registerForm.userForm.controls.mailAddress"
                 (blur)="registerForm.updateMailAddressErrorMessage()"
                 #mailAddress
          >
          @if (registerForm.userForm.controls.mailAddress.invalid) {
            <mat-error>{{registerForm.mailAddressErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Password</mat-label>
          <input matInput
                 [formControl]="registerForm.userForm.controls.password"
                 [type]="hide ? 'password' : 'text'"
                 (blur)="registerForm.updatePasswordErrorMessage()"
                 #password
          >
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.userForm.controls.password.invalid) {
            <mat-error>{{registerForm.passwordErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Confirm password</mat-label>
          <input matInput
                 [formControl]="registerForm.userForm.controls.passwordConfirm"
                 [type]="hideConfirm ? 'password' : 'text'"
                 (blur)="registerForm.updatePasswordErrorMessage()"
          >
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.userForm.controls.passwordConfirm.invalid) {
            <mat-error>{{registerForm.passwordConfirmErrorMessage}}</mat-error>
          }
        </mat-form-field>

        <button
          class="login-register-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="registerForm.userForm.invalid"
        >
          Register
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="form-children"><a routerLink="/login">Login</a> to your account.</div>
</div>
