div {
  margin: 20px 10% 0;

  display: flex;
  justify-content: center;
}

table {
  background: #1e1f22;
}

th, td {
  color: lightgray;
  border-color: lightgray;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.listItemContent {
  color: lightgray;
  width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
}
