div {
  margin: 20px 10% 0;

  display: flex;
  justify-content: center;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.listItemContent {
  color: lightgray;
  width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id {
  width: 3%;
}

.mailAddress {
  width: 27%;
}

.pointer:hover {
  background-color: #2b2d30;
}

.pointer {
  cursor: pointer;
  border: none;
}
