form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

mat-form-field {
  margin-bottom: 10px;
  width: 444px;
}

mat-dialog-actions {
  display:flex;
  justify-content: space-between;
}
