form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

mat-form-field {
  margin-top: 10px;
  width: 444px;
}

div {
  flex-grow: 1;
}

app-change-password, .spotifyButton {
  margin-bottom: 21px;
  align-self: end;
  width: 165px;
}
